body {
    background-color: #2c3e50; 
    color: #ecf0f1; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
    color: #ecf0f1;
}

header p {
    font-size: 1.2em;
    color: #bdc3c7;
}

nav {
    background-color: #34495e;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ecf0f1;
    padding: 10px 20px;
    background-color: #2980b9;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #3498db;
}

main {
    padding: 20px;
    text-align: center;
}

main h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ecf0f1;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #2980b9;
    color: #ecf0f1;
}

form {
    display: inline-block;
    text-align: left;
    margin: 20px auto;
    background-color: #34495e;
    padding: 20px;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #ecf0f1;
}

input[type="text"], input[type="email"], input[type="password"], textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ecf0f1;
    border-radius: 5px;
    background-color: #ecf0f1;
}

input[type="submit"] {
    background-color: #2980b9;
    color: #ecf0f1;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #3498db;
}

footer {
    background-color: #34495e; /* Footer background color */
    color: #ecf0f1; /* Footer text color */
    text-align: center;
    padding: 15px 0;
    width: 100%;
    position: relative;
    bottom: 0;
}
